
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin : 0px
}

.section-description{
    width: 80%;
    padding-bottom:50px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 600;
    color :#575757;
   
}
#top-section{
    display: flex;
}
#middle-section{
    display: flex;
    background-image: url(../img/shapes/7.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-color: papayawhip;
    background-position: center;
}
.text-orange{
    color: coral;
}

.text-gray{
    color :#575757;
}

.text-white{
    color :#ffffff;
}

.left-side{
    width: 60%;
    padding: 100px 100px;
    
}

.right-side img{
  width: 100%;

}
.right-side-middle-section img{
    width: 50%;
    padding-top: 100px;
    padding-left: 100px;
}
.btn-orange{

    text-decoration: none;
    background-image: linear-gradient(to bottom right,red, yellow);
    padding:20px 50px;
    color: white;
    border-radius: 100px;

}

 
.text-center{
    text-align: center;
    padding: 0 30%;
}

.food-card{

    display: flex;
    padding: 40px 100px;
}

.counter-section{
    padding: 40px 100px;
    display: flex;
}

.number-row{
  
    padding: 40px;
    box-shadow: 5px 10px 18px #888888; 
    width: 100%;
    display: inline-flex;
}

.number{
   width: 30%;
}

.card{
 width: 30%;
 padding: 2%;
 margin: 10px;
 box-shadow: 5px 10px 18px #888888;

}
.card img{
    width: 100%;
    height: 300px;
}

footer{
    margin-top: 40px;
    background-color: black;
    padding: 60px;
}